<div style="min-height: 100vh;" class="bg-success d-flex flex-column text-light text-center p-2">
    <h5 class="mb-5 text-warning border fw-bolder rounded p-4 shadow"><i class="fa-solid fa-graduation-cap me-2"></i>CookPedia Admin</h5>
    <a routerLink="/admin"class="text-light fw-bolder mb-4" style="text-decoration: none;">Dashboard</a>
    <a routerLink="/admin/recipe-list"class="text-light fw-bolder mb-4" style="text-decoration: none;">Recipe List</a>
    <a routerLink="/admin/user-list"class="text-light fw-bolder mb-4" style="text-decoration: none;">User List</a>
    <a routerLink="/admin/download-list"class="text-light fw-bolder mb-4" style="text-decoration: none;">Download List</a>
    <a routerLink="/admin/request-list"class="text-light fw-bolder mb-4" style="text-decoration: none;">Feedback List</a>


</div>
