<div class="container-fluid">
    <div class="row">
        @if (isSidebarOpen) {
        <div class="col-lg-2">
            <app-sidebar></app-sidebar>
        </div>

        }

        <div class="col">
          <div class="container">
                <div class="row bg-warning text-light p-3">
    
                  
                        <div class="d-flex justify-content-between align-items-center">
                            <h5><button (click)="menuBtnClick()" class="btn"><i
                                        class="fa-solid fa-bars text-light fa-2x"></i></button> Welcome To Admin Dashboard</h5>
                            <div class="dropdown">
                                <button type="button" data-bs-toggle="dropdown" class="btn dropdown-toggle text-light">
                                    <i class="fa-solid fa-user"></i>
                                </button>
                                <ul class="dropdown-menu text-center">
                                    <li>
                                        <button (click)="logout()" class="btn fw-bolder">Logout
                                            <i class="fa-solid fa-right-from-bracket"></i>
                                        </button>
                                    </li>
        
                                </ul>
                            </div>
                        </div>
                    
                </div>
          </div>
            <div class="d-flex flex-md-row flex-column  justify-content-evenly my-3">
                <div class="d-flex align-items-center p-3 rounded text-light bg-info mt-2">
                    <i class="fa-solid fa-users fa-3x  me-3"></i>
                    <div>
                        <h3>Users</h3>
                        <h2>{{userCount}}</h2>
                    </div>
                </div>

                <div class="d-flex align-items-center p-3 rounded text-light bg-primary mt-2">
                    <i class="fa-solid fa-bowl-food fa-3x  me-3"></i>
                    <div>
                        <h3>Recipes</h3>
                        <h2>{{recipeCount}}</h2>
                    </div>
                </div>


                <div class="d-flex align-items-center p-3 rounded text-light bg-danger mt-2">
                    <i class="fa-solid fa-download fa-3x  me-3"></i>
                    <div>
                        <h3>Downloads</h3>
                        <h2>{{downloadCount}}</h2>
                    </div>
                </div>


                <div class="d-flex align-items-center p-3 rounded text-light bg-secondary mt-2">
                    <i class="fa-solid fa-message fa-3x me-3"></i>
                    <div>
                        <h3>Notifications</h3>
                        <h6>You have <a routerLink="/admin/request-list">5</a> new requests!</h6>
                        <h2>{{requestCount}}</h2>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-8">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>

                </div>
                <div class="col-lg-4 p-3">
                    <mat-card class="demo-inline-calendar-card">
                        <mat-calendar [(selected)]="selected"></mat-calendar>
                    </mat-card>
                </div>
            </div>
        </div>


    </div>
</div>