<app-header></app-header>
<div class="container">
   <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>My Profile</h1>
       <label > 
        <input (change)="getFile($event)" type="file" style="display:none;">
        <img [src]="profileImage" alt="profileImage" width="200px" height="200px">
    </label><br>
        <button class="btn btn-success  " (click)="updateProfile()">Update Profile</button>
   </div>
   <div class="row mt-5">
    <h1>Downloaded Recipes</h1>
    @for (item of downloadedRecipes; track $index) {
        <div class="col-lg-3 mt-3">
            <div class="p-3">
                <img routerLink="/recipe/{{item.recipeId}}/view" [src]="item.recipeImage" alt="image" class="img-fluid">
                <h5 class="mt-2 text-center">{{item.recipeName}}</h5>
            </div>
        </div>
    }
    </div>
   </div>


